{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
        <title>Login</title>
    </head>
    <body>
        <main>
            <h2>📑 Posts Recientes</h2>
            {% for item in data %}
            <div>
                <h3>{{ item.title }}</h3>
                <p>{{ item.body }}</p>
            </div>
            {% endfor %}
        </main>
    </body>
</html>
